<div class="container">
  <!--                            PARTI LOADING             -->

  <ng-container *ngIf="stateApp$ | async as stateApp">
    <app-loading-cmp
      [dataState]="stateApp"
      [notification]="notification"
      [errorMessage]="errorMessage"
    ></app-loading-cmp>
  </ng-container>
  <div class="card" *ngIf="patient$ | async as pat">
    <h5 class="card-header">{{ pat.nom }}</h5>
    <div class="card-body">
      <h5 class="card-title">Nom</h5>
      <p class="card-text">
        {{ pat.nom }}
      </p>
      <h5 class="card-title">Prenom</h5>
      <p class="card-text">
        {{ pat.prenom }}
      </p>
      <h5 class="card-title">Adresse</h5>
      <p class="card-text">
        {{ pat.adresse }}
      </p>
      <h5 class="card-title">Age</h5>
      <p class="card-text">
        {{ pat.age }}
      </p>
      <h5 class="card-title">Sexe</h5>
      <p class="card-text">
        {{ pat.sexe }}
      </p>
      <h5 class="card-title">Proffession</h5>
      <p class="card-text">
        {{ pat.proffession ? pat.proffession : "" }}
      </p>
      <h5 class="card-title">Date De Naissance</h5>
      <p class="card-text">
        {{ pat.dateDeNaissance }}
      </p>
      <h5 class="card-title">Groupe Sanguin</h5>
      <p class="card-text">
        {{ pat.groupeSanguin }}
      </p>
      <h5 class="card-title">Sexe</h5>
      <p class="card-text">
        {{ pat.sexe }}
      </p>
      <h5 class="card-title">Telephone</h5>
      <p class="card-text">
        {{ pat.telephone }}
      </p>
      <a
        routerLink="/{{ routesName.mPatient.patients }}/{{
          routesName.mPatient.patientsUpd
        }}/{{ pat.id }}"
        routerLinkActive="router-link-active"
        class="btn btn-primary"
        >Modifier</a
      >
      <a
        routerLink="/{{ routesName.mPatient.patients }}/{{
          routesName.mPatient.patientsDossier
        }}/{{ pat.id }}"
        routerLinkActive="router-link-active"
        class="btn btn-primary"
        >DossierPatient</a
      >
      <a
        routerLink="/{{ routesName.mPatient.patients }}"
        routerLinkActive="router-link-active"
        class="btn btn-primary"
        >Retour</a
      >
    </div>
  </div>
</div>
