<!-- New  Tables  detail patients de santé-->
<ng-container *ngIf="patient$ | async as pat">
  <div class="toolbar">
    <div class="detail">
      <span class="name text-secondary fs-2 fm-bold fst-italic text-center"
        >Information Patient</span
      >
    </div>
  </div>
  <main class="black-border">
    <mat-card class="example-card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <mat-card-content>
        <div class="row mt-2">
          <div class="ti col-8">
            <mat-icon>personal_injury</mat-icon>
            {{ pat.prenom | uppercase }}
            {{ pat.nom | uppercase }}
          </div>
          <div class="col-4">
            <a
              class="aa"
              routerLink="/{{ routesName.mPatient.patients }}/{{
                routesName.mPatient.patientsDossier
              }}/{{ pat.id }}" mat-raised-button  color="primary"
            >
              Voir Dossier Patient</a
            >
          </div>
        </div>
        <mat-divider class="mt-4"></mat-divider>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Adresse</div>
          <div class="col-6 blcVal">{{ pat.adresse }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Age</div>
          <div class="col-6 blcVal">{{ pat.age }} ans</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Sexe</div>
          <div class="col-6 blcVal">{{ pat.sexe }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Date De Naissance</div>
          <div class="col-6 blcVal">{{ pat.dateDeNaissance }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Groupe Sanguin</div>
          <div class="col-6 blcVal">{{ pat.groupeSanguin }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Proffession</div>
          <div class="col-6 blcVal">
            {{ pat.proffession ? pat.proffession : "" }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Téléphone</div>
          <div class="col-6 blcVal">
            {{ pat.telephone[0] ? pat.telephone : "" }}
          </div>
        </div>
        <mat-divider class="mt-2"></mat-divider>
        <div class="row">
          <div class="col-12">
            <a class="btnAct" routerLink="/{{ routesName.mPatient.patients }}">
              Retour</a
            >
            <a
              class="btnAct"
              routerLink="/{{ routesName.mPatient.patients }}/{{
                routesName.mPatient.patientsUpd
              }}/{{ pat.id }}"
            >
              Modifier</a
            >
          </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
      </mat-card-content>
    </mat-card>
  </main>
</ng-container>
