main {
  width: 90%;
  margin: 3rem auto 0px;
}
.toolbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-patient {
  width: "20%";
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail img {
  width: 30%;
  height: 90%;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(34, 34, 0, 5);
}

//iformation du tablau
img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 46px;
}
.float {
  position: relative;
  float: right;
  top: 20px;
  width: 50px;
  height: 50px;
}
.logo-hopital img {
  width: 20%;
  height: 0%;
}
.blcTitre {
  //  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  letter-spacing: 1px;
}
.ti{
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: bold;
}
.blcVal {
  justify-content: center;
}
.card-jours {
  vertical-align: middle;
}
mat-card-title {
  font-size: 25px;
  letter-spacing: 2px;
  text-decoration:underline;
}
.aa {
  text-decoration: none;
  float: right;
}
.btnAct {
  text-decoration: none;
  float: right;
  margin-left: 20px;
}
.name {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 3px;

  border: 1pt solid black;
  border-radius: 10px;
  padding: 0px 2rem;
}
.example-card {
  // max-width: 400px;
  border-radius: 1rem;
  // box-shadow: 0px 0px 10px rgba( 34, 34, 0,5);
}
