table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
.btnAct {
  text-decoration: none;
  float: left;
  margin-left: 20px;
}
.btnActModif {
  text-decoration: none;
  float: right;
}
