<!-- New  Tables  detail patients de santé-->
<ng-container *ngIf="personnel$ | async as per">
  <div class="toolbar">
    <div class="detail">
      <span class="name text-secondary fs-2 fm-bold fst-italic text-center"
        >Information Personnel</span
      >
    </div>
  </div>
  <main class="black-border">
    <mat-card class="example-card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <mat-card-content>
        <div class="row mt-2">
          <div class="ti col-8">
            <mat-icon>groups</mat-icon>
            {{ per.prenom | uppercase }}
            {{ per.nom | uppercase }}
          </div>
          <div class="col-4">
            <a
              class="aa"
              mat-stroked-button
              color="primary"
              routerLink="/{{ routesName.mPersonnel.personnels }}/{{
                routesName.mPatient.patientsDossier
              }}/{{ per.id }}"
            >
              Voir Dossier Personnel</a
            >
          </div>
        </div>
        <mat-divider class="mt-4"></mat-divider>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Adresse</div>
          <div class="col-6 blcVal">{{ per.adresse }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Age</div>
          <div class="col-6 blcVal">{{ per.age }} ans</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Sexe</div>
          <div class="col-6 blcVal">{{ per.sexe }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Spécialisation</div>
          <div class="col-6 blcVal">{{ per.specialisation }}</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Salaire</div>
          <div class="col-6 blcVal">{{ per.salaire }} F cfa</div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Profil</div>
          <div class="col-6 blcVal">
            {{ per.Poste ? per.Poste.poste : "" }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Email</div>
          <div class="col-6 blcVal">
            {{ per.email }}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Jour(s) de travail</div>
          <div class="col-6 blcVal">
            <span *ngFor="let jour of per.jour">{{ jour }} </span>
            <i></i>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 blcTitre">Téléphone</div>
          <div class="col-6 blcVal">
            {{ per.telephone[0] ? per.telephone : "" }}
          </div>
        </div>
        <mat-divider class="mt-2"></mat-divider>
        <div class="row">
          <div class="col-12">
            <a
              class="btnAct"
              routerLink="/{{ routesName.mPersonnel.personnels }}"
              mat-button
              color="warn"
            >
              Retour</a
            >
            <a
              class="btnAct"
              mat-button
              color="success"
              routerLink="/{{ routesName.mPersonnel.personnels }}/{{
                routesName.mPersonnel.personnelsUpd
              }}/{{ per.id }}"
            >
              Modifier</a
            >
          </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
      </mat-card-content>
    </mat-card>
  </main>
</ng-container>
