<!-- <table class="table">
  <thead class="table-dark">
    <tr>
      <th>Nom</th>
      <th>Prenon</th>
      <th>Age</th>
      <th>Sexe</th>
      <th>Telephone</th>
      <th>
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="{{ routesName.mPatient.patientsAdd }}"
          routerLinkActive="router-link-active"
          >Add</a
        >
      </th>
    </tr>
  </thead>

  <tbody>
    <tr class="tr" *ngFor="let patient of patients | async">
      <td>
        {{ patient.nom }}
      </td>
      <td>{{ patient.prenom }}</td>
      <td>{{ patient.age }}</td>
      <td>{{ patient.sexe }}</td>
      <td>{{ patient.telephone }}</td>

      <td class="tdBtn">
        <button
          routerLink="{{ routesName.mPatient.patientsDetails }}/{{
            patient.id
          }}"
          type="button"
          class="btn btn-sm btn-outline-info"
        >
          info
        </button>
      </td>
      <td class="tdBtn">
        <button
          (click)="deletePatient(patient)"
          type="button"
          class="btn btn-sm btn-outline-danger"
        >
          del
        </button>
      </td>
    </tr>
  </tbody>
</table>  -->

<!-- New table patients -->
                       

<ng-container *ngIf="stateApp$ | async as stateApp">
  <app-loading-cmp
    [dataState]="stateApp"
    [notification]="notification"
    [errorMessage]="errorMessage"
  ></app-loading-cmp>
</ng-container>

<main class="black-border">
  <div class="toolbar">
      <div class="patients">
          <div class="row mt-0">
              <div class=" text-center">
                  <span class="name">Liste des Patients</span>
              </div>
          </div>
      </div>
      <div class="search-patient">
          <input type="search"class="form-control" placeholder="Search Patients">
      </div>
      <div class="add-patient">
          <button type="button" class="btn btn-outline-success btn-sm"
          routerLink="{{ routesName.mPatient.patientsAdd }}"
          routerLinkActive="router-link-active"><mat-icon>add</mat-icon></button>
      </div>
      
      
  </div>
  
  <div class="row mt-4">
      <div class="col">
          <div class="container-fluid g-0 p-2">
             
              <div class="row g-0">
                
                  <div class="col ps-2">
                      <div class="row mt-3">
                          <div class="">
                              <table class="table mx-auto">
                                  <thead class=" fs-5  text-secondary">
                                      <tr>
                                        <th><b>Nom</b></th>
                                        <th><b>Prenon</b></th>
                                        <th><b>Age</b></th>
                                        <th><b>Sexe</b></th>
                                        <th><b>Telephone</b></th>
                                        <th></th>
                                        
                                         
                                          
                                      </tr>
                                  </thead>
                                 
                                      <tr *ngFor="let patient of patients | async">
                                        <td>
                                          <b>
                                            {{ patient.nom }}
                                          </b>
                                        </td>
                                        <td>
                                          <b>
                                            {{ patient.prenom }}
                                          </b>
                                        </td>
                                        <td>{{ patient.age }}</td>
                                        <td>{{ patient.sexe }}</td>
                                        <td>{{ patient.telephone }}</td>
                                          
                                          
                                          
                                          <td>
                                             
                                              <button type="button" class=" btn btn-info" routerLink="{{ routesName.mPatient.patientsDetails }}/{{  patient.id }}"><mat-icon>visibility</mat-icon></button>
                                              <button type="button" class="btn btn-danger" (click)="deletePatient(patient)"><mat-icon>delete</mat-icon></button>                     
                                                
                                          </td>
                                      </tr>
                                
                                   
                                     
                                 
                                </table>
                              

                          </div>
                         

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>




