<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a
        *ngIf="!isLogin"
        mat-list-item
        routerLinkActive="active"
        routerLink="{{ routesName.mLogin.login }}"
        ><mat-icon>exit_to_app</mat-icon>Login</a
      >
      <a
        *ngIf="isLogin"
        mat-list-item
        routerLinkActive="active"
        routerLink="{{ routesName.mHome.home }}"
        ><mat-icon>home</mat-icon>Home</a
      >
      <a
        *ngIf="isLogin"
        mat-list-item
        routerLinkActive="active"
        routerLink="{{ routesName.mProfil.profil }}/{{ idProfil }}"
        ><mat-icon>person_outline</mat-icon>Profil</a
      >
      <a
        *ngIf="isLogin"
        mat-list-item
        routerLinkActive="active"
        routerLink="{{ routesName.mPatient.patients }}"
        ><mat-icon>personal_injury</mat-icon>Patients</a
      >
      <a
        *ngIf="isLogin"
        mat-list-item
        routerLinkActive="active"
        routerLink="{{ routesName.mPatient.patientsAdd }}"
        ><mat-icon>add</mat-icon>Ajouter Patient</a
      >
      <a
        *ngIf="isLogin"
        mat-list-item
        routerLinkActive="active"
        routerLink="{{ routesName.mPersonnel.personnels }}"
      >
        <mat-icon>groups</mat-icon>Personnels</a
      >
      <a
        *ngIf="isLogin"
        mat-list-item
        routerLinkActive="active"
        routerLink="{{ routesName.mPersonnel.personnelsAdd }}"
        ><mat-icon>add</mat-icon>Ajouter Personnel</a
      >

      <a
        *ngIf="isLogin"
        routerLink="{{ routesName.mPatient.patientsTaches }}"
        mat-list-item
        routerLinkActive="active"
      >
        <mat-icon>bookmark_border</mat-icon>Tâches</a
      >
      <a
        *ngIf="isLogin"
        routerLink="{{ routesName.mPatient.patientsTachesAdd }}"
        mat-list-item
        routerLinkActive="active"
      >
        <mat-icon>add</mat-icon>Ajouter Tâche</a
      >
      <a
        *ngIf="isLogin"
        mat-list-item
        routerLinkActive="active"
        routerLink="{{ routesName.mConfig.config }}"
        ><mat-icon>settings</mat-icon>Configurations</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        *ngIf="isLogin"
        (click)="logOut()"
        ><mat-icon>exit_to_app</mat-icon>LogOut</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a routerLink="" class="dashboard">
        <i><img src="../../assets/img/md-4.gif" class="img" /></i>
      </a>
    </mat-toolbar>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
