

.name{
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.5px;
  border-radius: 10px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
