<div class="container">
  <a
    class="aa" mat-raised-button color="warn"
    routerLink="/{{ routesName.mPatient.patients }}/{{
      routesName.mPatient.patientsDossierDetails
    }}/{{ idDossier }}"
  >
    Retour</a
  >

  <!--                            PARTI LOADING             -->

  <ng-container *ngIf="stateApp$ | async as stateApp">
    <app-loading-cmp
      [dataState]="stateApp"
      [notification]="notification"
      [errorMessage]="errorMessage"
    ></app-loading-cmp
  ></ng-container>
  <h1>Modifier Payement</h1>

  <form
    [formGroup]="formPayement"
    (ngSubmit)="submitForm()"
    novalidate
    class="form-inline"
    role="form"
  >
    <div class="row g-3">
      <!--                            Montant                           -->
      <div class="col form-group">
        <mat-form-field appearance="outline">
          <mat-label>Montant</mat-label>
          <input
            type="number"
            matInput
            placeholder="..."
            formControlName="montant"
          />
        </mat-form-field>
      </div>
      <!--                            PERSONNEL                           -->
      <div class="col form-group" *ngIf="personnels$ | async as personnel">
        <mat-form-field appearance="outline">
          <mat-label>Personnels</mat-label>
          <mat-select formControlName="personnel">
            <mat-option *ngFor="let per of personnel" [value]="per.id"
              >{{ per.prenom }} - {{ per.nom }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!--                            description                           -->
    <div class="row g-3">
      <div class="col frm-group">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            rows="4"
            matInput
            formControlName="description"
            placeholder="La description ici..."
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="card mt-2" *ngIf="formPayement$ | async as form">
      <div class="card-body">
        <div class="row mt-2">
          <div class="col-12">
            <h5 class="card-title">Montant</h5>
            <p class="card-text">{{ form.montant }} Fcfa</p>
          </div>
          <div class="col-12">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{ form.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-3 mt-2">
      <div class="col form-group">
        <button type="submit" class="btn btn-outline-info">Enregistrer</button>
      </div>
    </div>
  </form>
</div>
